@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12+Charted&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
  @tailwind components;
  @tailwind utilities;

body{
  max-width: 1920px;
  margin: auto;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif !important;
  font-family: "Poppins", sans-serif !important;
}

 
:root{
  --primary--color : #03030303;
  --secondary-color:#F8C401;
  --light-secondary-color:#f9e6a2;
  --purple-color:#c74ef9;
  --error-color:#ff3333;
}

/*            CUSTOM GLOBAL CSS           ===============================                  */

h1{
  font-size: 64px !important;
  
}
h2{
  font-size: 48px !important;
}
h3{
  font-size: 35px !important;
}
h4{
  font-size: 30px !important;
}
h5{
  font-size: 24px !important;
}
h6{
  font-size: 22px !important;
}

p{
  font-size: 16px;
  color:  #333333;
  line-height: 28px;
}


@media screen and (max-width: 992px) {
  h1{
    font-size: 56px !important;
  }
  h2{
    font-size: 44px !important;
  }
  h3{
    font-size: 32px !important;
  }
  h4{
    font-size: 28px !important;
  }
}
@media screen and (max-width: 768px) {
  h1{
    font-size: 48px !important;
  }
  h2{
    font-size: 36px !important;
  }
  h3{
    font-size: 30px !important;
  }
  h4{
    font-size: 26px !important;
  }
}
@media screen and (max-width: 480px) {
  h1{
    font-size: 40px !important;
  }
  h2{
    font-size: 32px !important;
  }
  h3{
    font-size: 28px !important;
  }
  h4{
    font-size: 26px !important;
  }
}

.rounded-md{
  border-radius: 5px;
}

input:hover{
  outline: none;
  box-shadow: none;
}
input:focus{
  outline: none;
  box-shadow: none;
}
textarea:hover{
  outline: none;
  box-shadow: none;
}
textarea:focus{
  outline: none;
  box-shadow: none;
}
.bg-primary{
  background-color: var(--primary--color);
}
.text-primary{
  color: var(--primary--color);
}
.bg-secondary{
  background-color: var(--secondary-color);
}
.text-secondary{
  color: var(--secondary-color);
}
.text-small{
  font-size: 14px;
}
.text-error{
  color: var(--error-color);
}
.App {
  text-align: center;
}
.text-sm{
  font-size: 12px !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.rounded-lg{
  border-radius: 10px !important;
}
/* .py-10{
  padding:  2.5rem 0 !important;
}
.pt-10{
  padding-top: 2.5rem !important;
}
.pb-10{
  padding-bottom: 2.5rem !important;
}
.py-20{
  padding:  5rem 0 !important;
}
.pt-20{
  padding-top: 5rem !important;
}
.pb-20{
  padding-bottom: 5rem !important;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.text-purple{
  color: var(--purple-color);
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  padding: 0 3rem;
  max-width: 1280px;
  margin: auto;

}
@media screen and (max-width: 768px) {
  .container{
    padding: 0 1.5rem;
  }
}
         
.primary-btn {
  /* background-image: linear-gradient(to right, #e9d362 0%, #333333  51%, #e9d362  100%); */
  background-color: var(--secondary-color);
  padding: 5px 15px;
  text-align: center;
  text-transform: capitalize;
  border: 1px solid var(--secondary-color);
  transition: 0.5s;
  color: white;            
  /* box-shadow: 0 0 20px #eee; */
  border-radius: 20px;
  display: block;
  font-size: 14px;
  display: flex;
  align-items:center;
  justify-content:center
}

.primary-btn:hover{
  background: transparent;
  color: var(--secondary-color);
}


         
.secondary-btn {
  /* background-image: linear-gradient(to right, #C02425 0%, #F0CB35  51%, #C02425  100%); */
  padding: 5px 15px;
  text-align: center;
  text-transform: capitalize;
  border: 1px solid var(--secondary-color);
  transition: 0.5s;
  color: var(--secondary-color);            
  /* box-shadow: 0 0 20px #eee; */
  border-radius: 20px;
  display: block;
  font-size: 14px;
  display: flex;
  align-items:center;
  justify-content:center
}

.secondary-btn:hover {
  background-color: var(--secondary-color);
  color: white;
}
@media screen and (max-width: 480px) {
  .secondary-btn{
    padding: 8px 20px;
  }
}

.spin-icon {
  transition: transform .7s ease-in-out;
}
.spin-icon:hover {
  transform: rotate(360deg);
}
.rotate-logo {
  transition: transform .7s ease-in-out;
}
.rotate-logo:hover{
  transform: rotateX(360deg);
}

.nav-link {
  position: relative;
  display: block;
  text-decoration: none;
  transition: 0.5s;
}
.nav-link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: 100%;
  left: 0;
  background: var(--secondary-color);
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}
.nav-link:hover {
  color: var(--secondary-color);
}
.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.hero-section {
  min-height: 80vh;
}
@media screen and (max-width: 1024px) {
  .hero-section  {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
  }
}
@media screen and (max-width: 380px) {
  .hero-section .btn{
    flex-direction: column;
  }
}
.about-me .about-me-img
{
  margin-top: 150px;
  transform: translate(-50%, -50%);
}
.about-nav-link{
  background-color: var(--secondary-color);
  color: white !important;
}
.about-link{
  transition: 0.3s;
}
.about-link:hover{
  background-color: var(--secondary-color);
  color: #ffffff !important;
}
.card{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #ffffff;
}
.experience .work-experience{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: var(--secondary-color);
}

@media only screen and (max-width: 380px) {
  .experience .work-experience{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: var(--secondary-color);
  }
}

/* //        Contact US    */
.get-in-touch-li {
  width: 80%;
  transition: 0.5s;
}
.get-in-touch-li .get-in-touch-icon {
  transition: 0.3s;
}
.get-in-touch-li:hover .get-in-touch-icon {
  background-color: var(--secondary-color);
}
.get-in-touch-li:hover .get-in-touch-text {
  color: var(--secondary-color);
}
.contact-us-form {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
@media only screen and (max-width: 768px) {
  .contact-us-form {
    margin-top: 20px;
  }
}
.our-team .slick-dots li.slick-active button:before{
  color:var(--secondary-color)
}
.our-team .slick-dots li button::before{
  font-size: 12px;
}
.our-team .slick-dots{
 bottom: -50px;
}

.our-team .slick-next::before{
  font-size: 30px;
  color: var(--secondary-color);
}
.our-team .slick-prev::before{
  font-size: 30px;
  color: var(--secondary-color);
}
.our-team .slick-dots li button:before{
  color: var(--secondary-color);
}
  @media only screen and (max-width: 410px) {
    .our-team-know-more-btn {
      display: none;
    }
  }

  /* OUR PROJECTS SLICK SLIDER  */
  .my-projects .slick-dots li.slick-active button:before{
    color:var(--secondary-color)
  }
  .my-projects .slick-dots li button::before{
    font-size: 12px;
  }
  .my-projects .slick-dots{
   bottom: -50px;
  }
  
  .my-projects .slick-next::before{
    font-size: 30px;
    color: var(--secondary-color);
  }
  .my-projects .slick-prev::before{
    font-size: 30px;
    color: var(--secondary-color);
  }
  .my-projects .slick-dots li button:before{
    color: var(--secondary-color);
  }
    @media only screen and (max-width: 410px) {
      .my-projects-know-more-btn {
        display: none;
      }
    }
  

/* CONTINOUSLY ROTATING SETTING BUTTON  */


@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

a{
  color: #000000;
  font-size: 16px;
}
.small{
  font-size: 14px;
}
/* HIDE ARROWS IN INPUT TYPE NUMBER  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.language-dropdown{
  display: none;
  transition: 0.3s;
}
.language-div:hover{
  .language-dropdown{
    display: block;
    transition: 0.3s;
  }

}


/*============== OUR TEAM CSS  ============*/
.our-team-usp-card, .our-team-item:nth-child(odd) {
  flex-direction: row;
}
.our-team-usp-card, .our-team-item:nth-child(even) {
  flex-direction: row-reverse;
}
@media only screen and (max-width: 768px) {
  .our-team-usp-card, .our-team-item:nth-child(odd) {
      flex-direction: column;
  }
  .our-team-usp-card, .our-team-item:nth-child(even) {
      flex-direction: column;
  }
}