.our-team-usp-card, .our-team-item:nth-child(odd) {
    flex-direction: row;
}
.our-team-usp-card, .our-team-item:nth-child(even) {
    flex-direction: row-reverse;
}
@media only screen and (max-width: 768px) {
    .our-team-usp-card, .our-team-item:nth-child(odd) {
        flex-direction: column;
    }
    .our-team-usp-card, .our-team-item:nth-child(even) {
        flex-direction: column;
    }
}